div.cohort-student-list-container,
div.teaching-assistant-ticket-list-tickets {
    overflow: auto;
}

a.teaching-assistant-ticket-link {
    height: auto;
    flex-shrink: 0;
}

.cohort-student-list > .list-view-table {
  display: flex;
  flex-direction: column;
}

.cohort-student-list > .list-view-table .list-view-table-head {
  order: 0;
}

.list-view-table-link:nth-child(2n) div.list-view-table-row {
  background-color: transparent;
}
